<app-mainpage></app-mainpage>
<div class="container d-flex justify-content-center mt-5">
  <div class="row col-12" *ngFor="let data of data$">
    <mat-card class="w-100 mt-4">
      <mat-card-header>
        <mat-card-title>Pedido {{data.codigoPedido}}</mat-card-title>
        <mat-card-title>MESA: {{data.mesa}}</mat-card-title>
      </mat-card-header>
      <mat-card-actions>
        <button class="btn btn-warning">Detalhes</button>
      </mat-card-actions>
      <p align="end" class="texto-status-pedido">{{data.descricaoStatusPedido}}</p>
    </mat-card>
  </div>

</div>
